:root{
    --main-color: #7A93AC; 
    --dark-color: #1f3447;
    --light-color: #E6EBEF;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}

/* Header */

header {
    background-color: var(--main-color);
    padding: 5px 20px; 
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    
}

header h1 {
    font-weight: bold;
    font-size: 52;
    color: var(--dark-color);
    margin-left: 5px;
}

header nav ul {
    display: flex;
    flex-wrap: wrap;
    flex-basis: 700px;
    justify-content: auto;
    align-items: flex-end;
    list-style: none;
    padding: 0px 15px 0px 15px;
    font-size: 24px;
}

header a {
    color: var(--light-color);
    padding: 20px 50px 0px 50px;
    font-weight: bold;
    display: flex;
}

/*Hero Banner and Profile */

.hero {
    position:relative;
}

.profile {
    position: absolute; 
    padding: 10px 15px 10px 15px; 
}

/*About Me Styles*/

.About-Me-Section {
    display: flex;
    flex-wrap: wrap;

}

.Section-Header h2{
    color: var(--main-color);
    margin-left: 50px;
    padding:  0px 40px 0px 40px;
    text-align: right;
    width: 6em;
}

#About-Me-Text {  
    display: flex;
    flex-basis: 700px;
    color:var(--dark-color);
    padding: 10px 15px 10px 15px;

}

/*My Projects Styles*/


.My-Projects-Section{
    display: flex;
    flex-wrap: wrap;
    align-items: stretch; 
}

.My-Projects-Section h2{
    color: var(--main-color);
    margin-left: 70px;
    padding:  0px 40px 0px 40px;
    text-align: right;
    width: 6em;
}

.My-Projects-Section-Tiles {
    display: flex;
    flex-wrap: wrap;
    flex-basis: 700px;
};

.My-Projects-Section-Tiles a {
    margin-bottom: 20px;
}

#Destination-Briefing {
    display: block;
    margin-top: 1em;
    margin-bottom: 20px; 
    margin-right: 10px;
    border: 5px solid var(--main-color);
    width: 550px;
    height: 225px;
}

#Run-Buddy {
    display: block;
    margin-top: 1em;
    margin-bottom: 20px; 
    margin-right: 10px;
    border: 5px solid var(--main-color);
    width: 500px;
    height: 200px;
}

#A-challenge {
    display: block;
    margin-bottom: 2em;
    border: 5px solid var(--main-color);
    width: 500px;
    height: 200px;

}

#Robot-gladiators {
    display: block;
    margin-bottom: 2em;
    border: 5px solid var(--main-color);
    width: 500px;
    height: 200px;
}

#Destination-Briefing:hover{
    opacity: .5;
    border: 7px solid var(--light-color)

} 

#Run-Buddy:hover{
    opacity: .5;
    border: 7px solid var(--light-color)
}

#A-challenge:hover{
    opacity: .5;
    border: 7px solid var(--light-color)

}

#Robot-gladiators:hover {
    opacity: .5;
    border: 7px solid var(--light-color)

}


/*Contact Info Styles */

.Contact-Info-Section {
    display: flex;
    flex-wrap: wrap;
    background-color: var(--main-color);
}

#Contact-Info {
    display: flex;
}

.Contact-Info-Section h2 {
    font-size: 62;
    color: var(--light-color);
    margin-left: 15px;
    padding:  0px 40px 0px 40px;
    
}

.Contact-Info-Section ul  {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    list-style: none;
    font-size: 24px;
    
}

.Contact-Info-Section a {
    color: var(--light-color);
    font-size: 20px;
    padding: 0px 15px 0px 15px;
    flex-wrap: wrap;
}

@media screen and (max-width: 993px){

    #Run-Buddy {
        width: 500px;
        height: 200px;
    }
    #A-challenge {
            width: 500px;
            height: 200px;
        }
    
    #Robot-gladiators {
        width: 500px;
        height: 200px;
    }

}