:root{
    --main-color: #7A93AC; 
    --dark-color: #1f3447;
    --light-color: #E6EBEF;
}
/*
Color #Pallete:
main: #7A93AC
dark: #1F3447
Light: #E6EBEF
Secondary Light: #F2F5F7
*/

body {
    font-family: Arial, Helvetica, sans-serif;
}

header {
    background-color: var(--main-color);
    padding: 5px 20px; 
    display: flex;
    flex-wrap: warp;
    justify-content: space-between;
    
}

header h1 {
    font-weight: bold;
    font-size: 52;
    color: var(--dark-color);
    margin-left: 5px;
}

header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: flex-end;
    list-style: none;
    padding: 0px 15px 0px 15px;
    font-size: 24px;
}

header a {
    color: var(--light-color);
    padding: 20px 35px 0px 35px;
    font-weight: bold;
}

.hero {
    display: flex;
}

.banner {
    height: 400px;
}

.profile {
    position: absolute;
    bottom: 225px;
    left: 50px;
}




.About-Me-Section {
    display: flex;
}

 .About-Me-Section h2 {
    font-size: 62;
    color: var(--main-color);
    margin-left: 50px;
    padding:  0px 40px 0px 40px;

}

.About-Me-Text {  
    color:var(--dark-color)
    

}

.About-Me-Section p {
    color: var(--dark-color);

}

.My-Projects-Section {
    display: flex;

}

.My-Projects-Section h2 {
    font-size: 62;
    color: var(--main-color);
    margin-left: 15px;
    padding:  0px 40px 0px 40px;
}



.Contact-Info-Section {
    display: flex;
    background-color: var(--main-color);
}

.Contact-Info {
    display: flex;
}


.Contact-Info-Section h2 {
    font-size: 62;
    color: var(--light-color);
    margin-left: 15px;
    padding:  0px 40px 0px 40px;
}

.Contact-Info-Section ul  {
    /*display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: flex-end;
    list-style: none;*/
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    list-style: none;
    font-size: 24px;
    
}

.Contact-Info-Section a {
    color: var(--light-color);
    font-size: 20px;
    padding: 0px 15px 0px 15px;

}